body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #007bff;
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    margin-top: 10px;
}

input, textarea, button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

strong {
    display: block;
    margin-bottom: 5px;
}

.success {
    color: green;
    margin-bottom: 15px;
}

.error {
    color: red;
    margin-bottom: 15px;
}
/* CSS para el botón de enlace */
.button-link {
    display: inline-block;
    background-color: #3498db; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Relleno interno */
    text-align: center; /* Centrado del texto */
    text-decoration: none; /* Sin subrayado */
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negrita */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.3s ease; /* Transición de color */
    position: fixed; /* Posicionamiento fijo */
    bottom: 20px; /* Espacio desde la parte inferior */
    left: 20px; /* Espacio desde la parte izquierda */
}

.button-link:hover {
    background-color: #2980b9; /* Color de fondo al pasar el ratón */
}
